/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--font: Vidaloka, sans-serif;
	--fonttwee: Public Sans, sans-serif;
}





/****************/
/* JOUW STYLING */
/****************/
h1 {
	font-family: var(--font);
	font-size: 294%;
	font-weight: 400;
	line-height: 120%;
	display: grid;
	place-content:center;
	text-align:center;
	grid-template-columns: 70%;
}

p {
	font-family: var(--fonttwee);
    line-height: 150%;
	font-weight: 400;
	display: grid;
	grid-template-columns: 85%;
	place-content:center;
	text-align:center;
}

/* jouw code */

