/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* font */
	--font: Vidaloka, sans-serif;
	--fonttwo: Public Sans, sans-serif;

	/* color */
	--color: #ffffff;
	--colortwo: #C10330;
	--colorthree: black;
	--colorfour: #FCF6EC;
	--colorfive: #F6E4CB;
	--colorcookie: #0056a7;
	--colorcloudbutton: #e0c7e6;
	--colorhambagalaptop: rgb(56 47 45);
	--darkbody: #242424;

	/* gradient */
	--gradientbrown: linear-gradient(to bottom, #8c3a1a, #e7cdb4);
	--gradientgreenwhite: linear-gradient(to bottom, #A1AB52, #FCFCF9);
	--gradientgreenred: linear-gradient(to bottom, #A0A950, #E59091);
	--gradientpurple: linear-gradient(to bottom, #A07995, #DEC5E4);

	/* font-size */
	--fourtysevenpx: 2.95rem;
	--thirtysixpx: 2.25rem;
	--sixteenpx: 1rem;
	--eightteenpx: 1.13rem;
	--twentyonepx: 1.32rem;
	--fourteenpx: 0.88rem;
	--twentysevenpx: 1.7rem;
	--twelvepx: 0.75rem;
	--sixtyonepx: 3.82rem;
	--thirthy: 1.9rem;
}





/****************/
/* JOUW STYLING */
/****************/
body{
	background-color: var(--color);
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}





/**********/
/* header */
/**********/ 
header{
	display: flex;
	justify-content: space-between;
	background-color: var(--colortwo);
	z-index: 1001;
}

header a img{
	width: 170px;
    padding: 8% 8%;
}





/********************/
/* header: page boba*/
/********************/
#bobapage header{
	background-color: var(--color);
}

#bobapage header a img{
	width: 74%;
    padding: 8% 6%;
}





/**********************/
/* gehele hambagamenu */
/**********************/
/* https://youtu.be/aNDqzlAKmZc?si=R20nsqqNJyM-8cfa */
header div{
	background-color: var(--colortwo);
	height: 100%;
	width: 100%;
	position: fixed;
	right: 100%;
}

header div ul{
	padding-left: 0;
}

header div ul li:nth-of-type(1),
header div ul li:nth-of-type(2),
header div ul li:nth-of-type(3),
header div ul li:nth-of-type(4){
	list-style: none;
	display: flex;
	justify-content: center;
}

header div ul li a{
	text-decoration: none;
	color: var(--color);
	font-size: var(--thirthy);
	font-family: var(--fonttwo);
	padding-bottom: 11%;
}

header div ul li:nth-of-type(1) a{
	padding-top: 8%;
}

header div.active{
	right: 0;
	z-index: 999;
	top: 8%;
}

nav{
	display: flex;
	width: 28px;
    height: 28px;
	margin-top: 5%;
	margin-right: 3.5%;
}

nav svg{
	width: 100%;
}

nav>button{
	border: none;
	border-radius: 50%;
	padding: 10%;
	width: 30px;
}

#bobapage nav>button{
	background-color: white;
}





/**************************/
/* Header: de divs voor a */
/**************************/
header div li:last-child {
    display: flex; 
	justify-content: center;
}

header div li:last-child a:first-child,
header div li:last-child a:last-child {
    display: flex;
    align-items: center;
    height: 40px; 
    background-color: var(--color);
}

header div li:last-child a:first-child {
    padding: 0 20px; 
    border-radius: 25px;
    color: var(--colorthree);
    font-size: var(--sixteenpx);
}

header div li:last-child a:last-child {
    width: 40px;          
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 0;       
	margin-left: -0.4em;     
}

header div li:last-child a:last-child svg {
    width: 4vw;
    display: block;   
	color: black;     
}





/*****************/
/* Header: icons */
/*****************/
header p{
	color: var(--color);
	font-family: var(--fonttwo);
	font-weight: 100;
	padding-top: 73%;
	text-align: center;
}

header div ul:nth-of-type(2) {
    display: flex;
    justify-content: center;
    gap: 1.8em;
}

header div ul:nth-of-type(2) li {
    display: inline-block;
    margin: 0;
}

header div ul:nth-of-type(2) img {
    width: 20px;
    height: 20px;
    background-color: var(--colorfive);
    border-radius: 50%;
    padding: 50%;
}





/******************/
/* Header: button */
/******************/
header div ul:nth-of-type(2) button{
	height: 40px;
	width: 40px;
	background-color: var(--colortwo);
	border: 5px solid var(--color);
	border-radius: 50%;
	color: var(--color);
}




/**********/
/* cookie */
/**********/
body>button{
	background-color: var(--colorcookie);
	border: none;
	position: fixed;
	top: 850px;
    left: 15px;
	border-radius: 50%;
	padding: 5px;
	transform: none;
	z-index: 1001;
}

body>button img{
	width: 90%;
}





/*************/
/* section 1 */
/*************/
/* https://chatgpt.com/share/68c80b3e-bd54-800d-af4b-6dad2cdea6ac */
section:nth-of-type(1){
	background-image: url("../images/backgroundone.png");
	background-size: cover;                        
	height: 39em;  
	background-position: center 73%;   
	position: relative;
}

h1 {
	font-family: var(--font);
	font-size: var(--fourtysevenpx);
	line-height: 120%;
	color: var(--color);
	font-weight: 100;

	display: grid;
	place-content:center;
	text-align:center;
	grid-template-columns: 70%;
	padding-top: 12%;
	margin: 0;
}

section:nth-of-type(1) > svg{
	width: 44%;
	fill: var(--color);
	bottom: 0; left: 0; right: 0;
  	margin: auto; 
	position: absolute;
}

main div svg{
	width: 3.7%;
	color: var(--colorthree);
}


body.active {
  overflow: hidden; /* Disable scrolling when menu is active */
}

body {
  overflow: auto; /* Default scroll */
}


/************************/
/* Section 1: page boba */
/************************/
#bobapage section:nth-of-type(1){
	background-image: url("../images/backgroundtwo.jpg");
}

#bobapage section:nth-of-type(1) h1, #bobapage section:nth-of-type(1) p {
	color: var(--colorfive);
}

#bobapage section:nth-of-type(1) > svg{
	fill: var(--colorfour);
}





/**********/
/* De p's */
/**********/
section>p{
	font-family: var(--fonttwo);
    line-height: 150%;
	
	font-weight: 200;
	padding-bottom: 1.7em;

	place-content:center;
	text-align:center;
}

section p{
	color: var(--color);
	font-size: var(--sixteenpx);

	display: grid;
	grid-template-columns: 80%;
}

section:nth-of-type(2) p, section:nth-of-type(3)>p{
	font-size: var(--eightteenpx);
	color: var(--colorthree);

	display: grid;
	grid-template-columns: 95%;
}





/******************/
/* De divs voor a */
/******************/
/* https://chatgpt.com/share/68c05005-3e78-800d-921c-77b8c6f1f94b */
main div{
	text-align: center;
	transition: all 1s
}

main a:first-child{
	text-decoration: none;
	padding: 2.5% 5%;
	color: var(--colorthree);
	font-weight: 300;
	font-family: var(--fonttwo);

	border-radius: 25px;
}

main div a:last-child{
	padding: 2.5% 3%;
	border-radius: 50%;
	margin-left: -0.7em;
	color: var(--color);
}

main div:hover a:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

main div:hover a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

section:nth-of-type(1) div a{
	background-color: var(--color);
}

section:nth-of-type(2) div a{
	background-color: var(--colortwo);
	color: var(--color);
}

section:nth-of-type(2)>div a:nth-of-type(2) svg{
	fill: var(--color);
}





/***********/
/* ^ ahrefs*/
/***********/
section:nth-of-type(1)>a{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
	background-color: var(--colortwo);
	bottom: -5%; left: 0; right: 0;
  	margin: auto; 
}

main section:nth-of-type(1)>a svg{
	fill: var(--color);
	height: 25px;
	padding-top: 30%;
    padding-left: 30%;
}

footer>a{
	background-color: var(--color);
	right: 2%;

	width: 60px;
	height: 60px;
	border-radius: 50%;
	position: absolute;
}

footer>a svg{
	fill: var(--colortwo);
	rotate: 180deg;
	width: 25px;
	height: 25px;
	left: 30%;
	top: 25%;
	position: relative;
}





/*************/
/* section 2 */
/*************/
h2{
	font-family: var(--font);
	font-size: var(--thirtysixpx);
	line-height: 120%;
	color: var(--colortwo);
	font-weight: 100;
	padding-top: 20%;

	text-align:center;
}

section:nth-of-type(2){
	padding-bottom: 8%;
}





/**********************/
/* Section 2 carousel */
/**********************/
section:nth-of-type(2) ul{
	display:flex;
	gap:6%;
	overflow-x: scroll;
}

section:nth-of-type(2) li{
	list-style: none;
}

section:nth-of-type(2) li img{
	border-radius: 10%;
	width: 194px;
	height: 80%;
}

section:nth-of-type(2) ul li:nth-of-type(1) img{
	background-image: var(--gradientgreenwhite);
}

section:nth-of-type(2) ul li:nth-of-type(2) img,
section:nth-of-type(2) ul li:nth-of-type(5) img{
	background-image: var(--gradientgreenred);
}

section:nth-of-type(2) ul li:nth-of-type(3) img{
	background-image: var(--gradientbrown);
}

section:nth-of-type(2) ul li:nth-of-type(4) img{
	background-image: var(--gradientpurple);
}

section:nth-of-type(2) li p{
	font-family: var(--font);
	display: grid;
	place-content:center;
	text-align:center;
}





/************************/
/* section 2: boba page */
/************************/
section.sectiontwo{
	background-color: var(--colorfour);
	padding-top: 10%;
	padding-bottom: 20%;
}

p i{
	font-size: var(--fourteenpx);
}

section:nth-of-type(2)>img {
	width: 95%;
	object-fit: cover; 
	aspect-ratio: 1 / 1.57;
	display: block;
	margin: 0 auto;
	border-radius: 25px;
}





/**************************************/
/* section 2: boba page: our products */
/**************************************/
#bobapage section:nth-of-type(2) h2{
	padding-top: 10%;
	padding-bottom: 0;
}

/* https://www.w3schools.com/css/css3_gradients.asp */
#bobapage section:nth-of-type(2) ul li img{
    border-radius: 40px;
    width: 148px;
    height: 282px;
	background-image: var(--gradientbrown);
}

#bobapage section:nth-of-type(2) ul{
	padding-top: 15%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-left: 0;
}

#bobapage section:nth-of-type(2) ul p{
	display: flex;
	align-items: center;
	display: grid;
}

#bobapage section:nth-of-type(2) ul li{
	width: 148px;
}

#bobapage section:nth-of-type(2) ul li:nth-of-type(1), 
.bobapage section:nth-of-type(2) ul li:nth-of-type(2){
	padding-bottom: 10%;
}

#bobapage section:nth-of-type(2) ul p{
	font-size: var(--twentyonepx);
	display: grid;
	grid-template-columns: 100%;
	margin-top: 5%;
}





/********************************/
/* section 2: boba page: button */
/********************************/
#bobapage section:nth-of-type(2) div {
	display: flex;
	justify-content: center;
	align-items: center;
}
  
#bobapage section:nth-of-type(2) div button:first-of-type,
#bobapage section:nth-of-type(2) div button:last-of-type {
	background-color: var(--colorcloudbutton);
	border: none;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	display: flex;
	align-items: center;
	justify-content: center;
}

#bobapage section:nth-of-type(2) div button:first-of-type{
	margin-right: -0.7em;
}

#bobapage section:nth-of-type(2) div button:last-of-type{
	margin-left: -0.7em;
}

#bobapage section:nth-of-type(2) div button:first-of-type svg {
	transform: rotate(180deg);
	width: 70%;
}
  
#bobapage section:nth-of-type(2) div button:last-of-type svg {
	width: 70%;
}
  
#bobapage section:nth-of-type(2) div p:first-of-type {
	background-color: var(--colorcloudbutton);
	padding: 1rem 3rem;
	border-radius: 20px;
	font-family: var(--fonttwo);
	font-size: var(--eightteenpx);
	font-weight: 100;
	white-space: nowrap;
}

#bobapage section:nth-of-type(2) div p:nth-of-type(2),
#bobapage section:nth-of-type(2) div p:nth-of-type(3),
#bobapage section:nth-of-type(2) div p:nth-of-type(4),
#bobapage section:nth-of-type(2) div p:nth-of-type(5),
#bobapage section:nth-of-type(2) div p:nth-of-type(6) {
	display: none;
}
  




/*************/
/* Section 3 */
/*************/
section:nth-of-type(3){
	background-color: var(--colorfour);
}

section:nth-of-type(3) ul{
	display:flex;
	gap:6%;
	overflow-x: scroll;
}

section:nth-of-type(3) li{
	list-style: none;
}

/* https://chatgpt.com/share/68ca7c48-791c-800d-8bcc-5056f797bad1 */
section:nth-of-type(3) li a img{
	background-color: var(--colortwo);
	border-radius: 10%;
	max-height: 224px;
	object-fit: cover; 
	aspect-ratio: 1 / 1;
}

h3{
	font-size: var(--twentyonepx);
	font-family: var(--font);
	transform: translateX(10px); 
}

section:nth-of-type(3) ul a p{
	transform: translateX(10px);
	font-size: var(--fourteenpx);
	line-height: 150%;
	color: var(--colorthree);
}

section:nth-of-type(3)>img {
	width: 95%;
	object-fit: cover; 
	aspect-ratio: 1 / 2;
	display: block;
	margin: 0 auto;
	padding: 10% 0%;
	border-radius: 10%;
}





/************************/
/* Section 3: boba page */
/************************/
#bobapage section:nth-of-type(3){
	background-color: var(--color);
}

#bobapage section:nth-of-type(3) h2{
	margin-top: 0;
	font-size: var(--twentyonepx);
	font-family: var(--fonttwo);
	font-weight: 500;
}

#bobapage section:nth-of-type(3) h3{
	font-size: var(--sixtyonepx);
	text-align: center;
	font-family: var(--font);
	color: var(--colortwo);
	margin: 0;
	font-weight: 100;
	transform: none;
}





/****************************/
/* Section 3: boba page: ol */
/****************************/
/* https://chatgpt.com/share/68d11975-f750-800d-9f63-0eb70e78f77a */
ol{
	counter-reset: step;
    list-style: none;
	padding: 0% 2%;
	padding-bottom: 25%;
}

ol>li {
	counter-increment: step;
	background-color: var(--colorfour);
	border-radius: 25px;
}

ol>li h4::before {
    content: " " counter(step, decimal-leading-zero);
	font-size: var(--fourtysevenpx);
	padding: 3% 5%;
	color: var(--colortwo);
	font-family: var(--font);
	font-weight: 100;
}

ol>li h4{
	font-size: var(--eightteenpx);
	color: var(--colortwo);
	font-family: var(--fonttwo);
	display: flex;
	align-items: center;
	font-weight: 150;
}

ol>li p{
	padding:0% 5%;
	font-family: var(--fonttwo);
	font-size: var(--fourteenpx);
	font-weight: 150;
	padding-bottom: 7%;
	color: var(--colorthree);

	display: grid;
	grid-template-columns: 100%;
}





/**********************/
/* 01, 02, 03, 04, 05 */
/**********************/
ol ul:nth-of-type(1) img{
	width: 80px;
	background-color: var(--colorfour);
}


ol ul:nth-of-type(1){   
	padding: 0;
    margin: 0;

	flex-wrap: wrap;
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(2, 18%);
    row-gap: 13px;
}

ol ul:nth-of-type(1) p{
	font-size: var(--sixteenpx);
	font-family: var(--font);
	padding: 0;
	margin-top: 5px;
	text-align: center;

	display: grid;
    grid-template-columns: 110%;
}





/**********/
/* Footer */
/**********/
/* https://chatgpt.com/share/68d199a3-b66c-800d-b308-66458b36ba60 */
footer{
	background-color: var(--colortwo);
	border-top-left-radius: 5%;    
  	border-top-right-radius: 5%; 
}

footer>img{
	width: 15rem;
	padding: 20% 0%;
	display: block;
	margin: 0 auto;
	padding-bottom: 30%;
}

footer ul{
	list-style: none;
}

footer ul:nth-of-type(1){
	padding-bottom: 20%;
}

footer ul:nth-of-type(1) a{
	font-size: var(--twentysevenpx);
	font-family: var(--font);
	text-decoration: none;
	color: var(--color);
}

footer p{
	font-family: var(--fonttwo);
    line-height: 150%;
	font-weight: 200;
	color: var(--color);
	padding-left: 10%;
}

footer p:nth-of-type(2){
	font-size: var(--twelvepx);
	padding-bottom: 10%;
}





/****************/
/* footer icons */
/****************/
/* https://www.w3schools.com/howto/howto_css_circles.asp */
footer ul img{
	background-color: var(--color);
	border-radius: 50%;
	padding: 10%;
}

footer ul:nth-of-type(2){
	display: flex;
	gap: 0.5em;
	padding-bottom: 2%;
}

footer ul img{
	width: 20px;
	height: 20px;
	padding: 50%;
}

footer ul:nth-of-type(2) li{
	padding: 0.6em;
}





/**********/
/* Tablet */
/**********/
/* https://chatgpt.com/share/68d59b2d-6944-800d-90e9-36616259ff2e */
/* https://chatgpt.com/share/68d59d74-7e90-800d-bcb0-bb2182df974f */
@media screen and (min-width: 768px) and (max-width: 1023px){
	/* header */
	nav {
		margin-top: 3%;
    	margin-right: 2%;
	}

	header div li:last-child a:last-child svg {
		width: 2vw;
	}

	header div ul li:nth-of-type(1) a {
		padding-bottom: 7%;
	}

	header p {
		padding-top: 20%;
	}

	/* secion 1 */
	main div a:first-child {
		padding: 1.5% 3%;
	}

	main div a:last-child {
		padding: 1.5% 1.7%;
	}

	main div svg {
		width: 2%;
	}

	section:nth-of-type(1) > svg {
		width: 25%;
	}

	/* secion 2 */
	h2 {
		padding-top: 10%;
	}

	section:nth-of-type(2) {
		padding-bottom: 5%;
	}

	section:nth-of-type(2) ul {
		gap: 3%;
	}

	section:nth-of-type(2) li p {
		grid-template-columns: 100%;
	}

	/* secion 3 */
	section:nth-of-type(3)>img {
		aspect-ratio: 1 / 1;
		border-radius: 20%;
	}

	/* footer */
	footer>img {
		padding: 10% 0%;
		padding-bottom: 18%;
	}

	footer ul:nth-of-type(1) {
		padding-bottom: 17%;
	}

	footer p {
		padding-left: 5%;
	}

	footer ul:nth-of-type(2) {
		padding-left: 4%;
	}

	footer p:nth-of-type(2) {
		padding-bottom: 5%;
		width: 54%;
	}

	/* bobapage: section 2 */
	#bobapage section:nth-of-type(2) h2 {
		padding-top: 3%;
	}

	#bobapage section:nth-of-type(2) ul {
		padding-top: 3%;
	}

	#bobapage section:nth-of-type(2) ul {
		padding: 0;
		display: grid;
    	justify-content: center;
    	grid-template-columns: repeat(2, 20%);
		row-gap: 45px;
    	padding: 3% 0%;
	}

	#bobapage section:nth-of-type(2)>img {
		width: 80%;
		aspect-ratio: 1 / 1;
	}

	#bobapage section:nth-of-type(2) {
        padding-bottom: 10%;
    }

	section:nth-of-type(2) p, section:nth-of-type(3)>p {
		grid-template-columns: 75%;
	}

	/* bobapage: section 3 */
	ol ul:nth-of-type(1) {
		grid-template-columns: repeat(4, 7%);
	}

	ol ul:nth-of-type(1) p {
		grid-template-columns: 150%;
	}

	ol>li p {
		padding-bottom: 3%;
	}
}





/*********************/
/* laptop + laptop L */
/*********************/
@media screen and (min-width: 1024px){
	section:nth-of-type(1){
		background-image: url("../images/laptopbgone.jpeg");
		height: 45em;
	}

	#bobapage section:nth-of-type(1) {
		background-image: url("../images/laptopbgtwo.jpg");
	}

	/* header */
	nav {
		margin-top: 2.5%;
		margin-right: 1.5%;
	}

	header div ul li a {
		padding-bottom: 5%;
	}

	header p {
		padding-top: 24%;
	}

	/* secion 1 */
	h1 {
		grid-template-columns: 40%;
		font-size: var(--sixtyonepx);
	}

	section p {
		grid-template-columns: 50%;
		font-size: var(--twentyonepx);
	}

	main a:first-child {
		padding: 1% 2%;
	}

	main div a:last-child {
		padding: 1% 1.3%;
	}

	main div svg {
		width: 1.5%;
	}
	
	section:nth-of-type(1)>a {
		width: 100px;
		height: 100px;
	}

	main section:nth-of-type(1)>a svg {
		height: 30px;
		padding-top: 35%;
    	padding-left: 35%;
		width: 30%;
	}

	/* section 2 */
	section:nth-of-type(2)>p, section:nth-of-type(3)>p {
		grid-template-columns: 55%;
	}

	section:nth-of-type(2) ul {
		padding-bottom: 8%;
	}

	h2{
		padding-top: 10%;
		font-size: var(--fourtysevenpx);
	}

	section:nth-of-type(2) li img {
		border-radius: 40px;
	}

	section:nth-of-type(2) ul {
		gap: 2%;
	}

	section:nth-of-type(2) {
		padding-bottom: 2%;
	}

	section:nth-of-type(2) li p {
		grid-template-columns: 100%;
	}

	/* secion 3 */
	section:nth-of-type(3) ul {
		gap: 2%;
	}

	section:nth-of-type(3) li {
		width: 70%;
	}

	h3, section:nth-of-type(3) ul a p {
		display: grid;
		grid-template-columns: 90%;
	}

	section:nth-of-type(3)>img {
		border-radius: 20%;
		aspect-ratio: 1 / 0.8;
	}

	/* footer */
	footer>img {
		padding: 10% 0%;
		width: 40%;
	}

	footer ul:nth-of-type(1) {
		padding-bottom: 15%;
	}

	footer p {
		font-size: var(--twentyonepx);
		padding-left: 5%;
	}

	footer p:nth-of-type(2) {
		display: grid;
		grid-template-columns: 40%;
	}

	/* bobapage: section 1 */
	#bobapage section:nth-of-type(1) h1, #bobapage section:nth-of-type(1) p{
		text-align: left;
		grid-template-columns: 80%;
		padding-left: 4%;
	}

	#bobapage section:nth-of-type(1) h1{
		max-width: 60%;
	}

	#bobapage section:nth-of-type(1) p{
		max-width: 55%;
	}

	/* bobapage: section 2 */	
	#bobapage section:nth-of-type(3) h2 {
		padding-top: 7%;
	}

	#bobapage section:nth-of-type(2) div button:first-of-type, #bobapage section:nth-of-type(2) div button:last-of-type {
		display: none;
	}

	#bobapage section:nth-of-type(2) div p:nth-of-type(2),
	#bobapage section:nth-of-type(2) div p:nth-of-type(3),
	#bobapage section:nth-of-type(2) div p:nth-of-type(4),
	#bobapage section:nth-of-type(2) div p:nth-of-type(5),
	#bobapage section:nth-of-type(2) div p:nth-of-type(6) {
		display: block;
		background-color: var(--colorfive);
    	padding: 1rem 3rem;
    	border-radius: 20px;
    	font-family: var(--fonttwo);
    	font-size: var(--eightteenpx);
    	font-weight: 100;
    	white-space: nowrap;
	}

	#bobapage section:nth-of-type(2) div{
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
		gap: 1%;
	}

	#bobapage section:nth-of-type(2) ul {
		padding-top: 5%;
		gap: 3%;
	}

	#bobapage section:nth-of-type(2) ul li {
		width: 190px;
		height: 300px;
	}

	#bobapage section:nth-of-type(2) ul li img {
		height: 400px;
		width: 194px;
	}

	section:nth-of-type(2)>img {
		aspect-ratio: 1 / 0.45;
	}

	/* bobapage: section 3 */
	#bobapage section:nth-of-type(3) h3 {
		grid-template-columns: 100%;
	}

	ol>li p {
		font-size: var(--sixteenpx);
		display: grid;
		grid-column: 1 / 2;
	}

	ol li{
		display: grid;
		margin-bottom: 2%;
	}
	  
	ol ul:nth-of-type(1) {
		grid-column: 2 / 2; 
		grid-template-columns: repeat(4, auto);
		gap: 15px;
		padding: 1.5rem;
        overflow: hidden;
	}

	ol ul:nth-of-type(1) img {
		width: 94px;
	}

	ol {
		padding-bottom: 8%;
	}

	#bobapage section:nth-of-type(3) li {
    	width: 100%;
    }
}





/************/
/* laptop L */
/************/
@media screen and (min-width: 1439px){
	/* https://codepen.io/shooft/pen/myepoJo */
	  nav {
		margin: 0;
	  }
	
	  header div {
		position: static;
		display: flex;
		gap: 3rem;
	  }
	
	  header div ul li a {
		font-size: var(--fourteenpx);
		padding: 10px 0;
		white-space: nowrap;
	  }
	
	  nav>button {
		display: none; 
	  }
	

	/**********/
	/* header */
	/**********/ 
	header{
    	align-items: center;
    	padding: 0 5%;
    	height: 80px;
	}

	header > a:first-child {
    	position: absolute;
    	left: 40%;
	}

	header nav div ul:first-of-type {
    	margin: 0;
    	align-items: center;
		display: flex;
		gap: 2rem;
	}

	header nav div ul:first-of-type li:last-child a:last-child svg {
    	height: 16px;
	}

	header nav div p {
    	display: none;
	}

	header nav div ul:nth-of-type(2) {
    	gap: 0.5rem;
    	align-items: center;
	}


	header nav div ul:nth-of-type(2) li img {
    	padding: 8px;
	}

	header nav div ul:nth-of-type(2) {
		position: absolute;
        right: 2%;
		top: 0.7%;
	}

	header nav div ul:nth-of-type(2) li:nth-of-type(4){
		position: absolute;
		right: 330%;
	}

	header nav div ul:nth-of-type(1) li:nth-of-type(5){
		position: absolute;
        right: 12%;
	}

	header a img {
		width: 230px;
		padding-top: 15%;
	}

	/* secion 1 */
	h1 {
		grid-template-columns: 30%;
	}

	section p {
		grid-template-columns: 35%;
	}

	section:nth-of-type(1) > svg {
		width: 25%;
	}

	/* secion 2 */
	h2 {
        padding-top: 5%;
    }

	section:nth-of-type(2)>p, section:nth-of-type(3)>p {
        grid-template-columns: 40%;
    }

	section:nth-of-type(2) ul {
        display: flex;
        justify-content: center;
		padding-bottom: 2%;
    }

	section:nth-of-type(2) li p{
		font-size: var(--twentyonepx);
	}

	section:nth-of-type(2) li {
		width: 14%;
	}

	/* secion 3 */
	section:nth-of-type(3) li a img {
		max-height: 352px;
	}

	section:nth-of-type(3) ul {
		gap: 1%;
	}

	section:nth-of-type(3)>img {
		aspect-ratio: 1 / 0.55;
	}

	/* footer */
	footer>img {
		width: 45%;
		padding: 5% 0%;
	}

	footer ul:nth-of-type(1) {
		padding-bottom: 10%;
	}

	footer p {
		padding-left: 3%;
	}

	footer p:nth-of-type(2) {
		padding-bottom: 3%;
		grid-template-columns: 30%;
		display: grid;
	}

	footer>a {
		width: 100px;
		height: 100px;
	}
	
	footer>a svg {
		left: 40%;
		top: 30%;
	}

	/* bobapage: header*/
	#bobapage header div ul:nth-of-type(1) a {
		color: var(--colorhambagalaptop);
	}

	#bobapage header div{
		background-color:var(--color);
	}

	#bobapage header div li:last-child a:first-child,
	#bobapage header div li:last-child a:last-child {
		background-color: var(--colortwo);
		color: var(--color);
	}

	#bobapage header div li:last-child a:last-child svg{
		color: var(--color);
	}

	#bobapage header a img {
		width: 100%;
	}

	/* bobapage: section 1 */
	#bobapage section:nth-of-type(1) h1{
		padding-top: 15%;
	}

	#bobapage section:nth-of-type(1) p {
        padding-left: 1%;
    }

	/* bobapage: section 2 */
	#bobapage section:nth-of-type(2) h2 {
		padding-top: 0%;
	}

	#bobapage section:nth-of-type(2) ul {
		padding-top: 2%;
	}

	#bobapage section:nth-of-type(2) div{
		padding: 0% 15%;
	}

	/* bobapage: section 3 */
	#bobapage section:nth-of-type(3) h2 {
		padding-top: 5%;
	}

	ol {
		padding: 0% 10%;
		padding-bottom: 5%;
	}

	ol ul:nth-of-type(1) img {
        width: 115px;
    }

	#bobapage section:nth-of-type(3) ul {
		gap: 15px;
	}
	
	ol ul:nth-of-type(1) {
        margin-right: 3em;
    }
}





/* Dark-light */
@media (prefers-color-scheme: dark) {
	body,
	section:nth-of-type(3),
	#bobapage section:nth-of-type(2),
	#bobapage section:nth-of-type(3) {
		background: var(--darkbody);
	}

	section:nth-of-type(1) > svg,
	#bobapage section:nth-of-type(1) > svg {
        fill: var(--darkbody);
    }

	section:nth-of-type(2) p, 
	section:nth-of-type(3)>p,
	h3,
	section:nth-of-type(3) ul a p,
	#bobapage section:nth-of-type(2) div button:first-of-type svg,
	#bobapage section:nth-of-type(2) div button:last-of-type svg {
        color: var(--color);
    }

	#bobapage section:nth-of-type(2) div p {
		color: var(--colorthree);
	}
}